<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Find Your Future Admin</title>

    <!-- vendor css -->
    <link href="../lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="../lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="../css/azia.css">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../img/icon.png"/>
  </head>
  
  <body>
    <div class="az-header">
      <div class="container">
        <div class="az-header-left">
          <img src="../img/logo_plain.png" alt="Logo" style="width:180px;height:50px;">
          <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-menu">
          <ul class="nav">
            <li class="nav-item active show">
              <a href="index.html" class="nav-link"><i class="typcn typcn-chart-area-outline"></i> Dashboard</a>
            </li>
          </ul>
        </div><!-- az-header-menu -->
        <div class="az-header-right">
          <div class="dropdown az-profile-menu">
            <a href="" class="az-img-user"><img src="../img/user.png" alt=""></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header d-sm-none">
                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
              </div>
              <div class="az-header-profile">
                <div class="az-img-user">
                  <img src="../img/user.png" alt="">
                </div><!-- az-img-user -->
                <h6>Administrator</h6>
              </div><!-- az-header-profile -->
              <a onclick="logout()" href="#" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
            </div><!-- dropdown-menu -->
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div><!-- az-header -->

    <div class="az-content az-content-dashboard">
      <div class="container">
        <div class="az-content-body">

          <div class="az-dashboard-one-title">
            <div>
              <h2 class="az-dashboard-title">Hi, welcome back!</h2>
              <p class="az-dashboard-text">Your analytics dashboard.</p>
            </div>
          </div><!-- az-dashboard-one-title -->

          <div class="row row-sm mg-b-20">
            <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-dashboard-four">
                <div class="card-header">
                  <h6 class="card-title">Most popular preferences</h6>
                </div><!-- card-header -->
                <div class="card-body row">
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="chart"><canvas id="chartDonut"></canvas></div>
                  </div><!-- col -->
                  <div class="col-md-6 col-lg-5 mg-lg-l-auto mg-t-20 mg-md-t-0">
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Organic Search</span>
                        <span>1,320 <span>(25%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-purple wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Email</span>
                        <span>987 <span>(20%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-primary wd-20p" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Referral</span>
                        <span>2,010 <span>(30%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-info wd-30p" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Social</span>
                        <span>654 <span>(15%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-teal wd-15p" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Other</span>
                        <span>400 <span>(10%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-gray-500 wd-10p" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                  </div><!-- col -->
                </div><!-- card-body -->
              </div><!-- card-dashboard-four -->
            </div><!-- col -->

            <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-dashboard-four">
                <div class="card-header">
                  <h6 class="card-title">Most popular hobbies</h6>
                </div><!-- card-header -->
                <div class="card-body row">
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="chart"><canvas id="chartDonut1"></canvas></div>
                  </div><!-- col -->
                  <div class="col-md-6 col-lg-5 mg-lg-l-auto mg-t-20 mg-md-t-0">
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Organic Search</span>
                        <span>1,320 <span>(25%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-purple wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Email</span>
                        <span>987 <span>(20%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-primary wd-20p" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Referral</span>
                        <span>2,010 <span>(30%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-info wd-30p" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Social</span>
                        <span>654 <span>(15%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-teal wd-15p" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                    <div class="az-traffic-detail-item">
                      <div>
                        <span>Other</span>
                        <span>400 <span>(10%)</span></span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-gray-500 wd-10p" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                      </div><!-- progress -->
                    </div>
                  </div><!-- col -->
                </div><!-- card-body -->
              </div><!-- card-dashboard-four -->
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-sm mg-b-20">
            <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-dashboard-four">
                <div class="card-header">
                  <h6 class="card-title">Gender comparison</h6>
                </div><!-- card-header -->
                <div class="card-body row">
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="chart"><canvas id="chartDonut3"></canvas></div>
                  </div><!-- col -->
                  <div class="col-md-6 col-lg-5 mg-lg-l-auto mg-t-20 mg-md-t-0">
                    <div class="az-traffic-detail-item">
                      <div>
                        <h6>Female</h6>
                      </div>
                      <div>
                        <p id="female"></p>
                      </div><!-- progress -->
                    </div><br>
                    <div class="az-traffic-detail-item">
                      <div>
                        <h6>Male</h6>
                      </div>
                      <div>
                        <p id="male"></p>
                      </div><br>
                    </div>
                  </div><!-- col -->
                </div><!-- card-body -->
              </div><!-- card-dashboard-four -->
            </div><!-- col -->

            <div class="col-lg-6 mg-t-20 mg-lg-t-0">
              <div class="card card-dashboard-four">
                <div class="card-header">
                  <h6 class="card-title">All Registered Users</h6>
                </div><!-- card-header -->
                <div class="table-responsive">
                  <table class="table mg-b-0">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                      </tr>
                    </thead>
                    <tbody id="user-table"></tbody>
                  </table>
                </div><!-- table-responsive -->
              </div>
            </div><!-- row -->
          </div>

        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->

    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Find Your Future 2020</span>
      </div><!-- container -->
    </div><!-- az-footer -->


    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/ionicons/ionicons.js"></script>
    <script src="../lib/jquery.flot/jquery.flot.js"></script>
    <script src="../lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../lib/chart.js/Chart.bundle.min.js"></script>
    <script src="../lib/peity/jquery.peity.min.js"></script>
    <script src="../js/chart.chartjs.js"></script>
    <script src="../js/azia.js"></script>
    <script src="../js/chart.flot.sampledata.js"></script>
    <script src="../js/dashboard.sampledata.js"></script>


    <!-- FIREBASE SCRIPTS -->  
      <!-- The core Firebase SDK must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

      <!-- Add Firebase products that you want to use -->
      <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>

      <script src="firebase.js"></script>
      <script src="data.js"></script>

      <script defer>
        var db = firebase.firestore();

        // FOR USERS TABLE
        let res = "";
        let i = 0;
        db.collection("User").get().then((querySnapshot) => {
          if(!querySnapshot.empty){
            querySnapshot.forEach((doc) => {
              i++;
              res += `<tr><td>${i}</td><td>${doc.data().name}</td><td>${doc.data().email}</td><td>${doc.data().gender}</td></tr>`
            });
            $('#user-table').html(res)
          }
          else
          console.log("No users found");
        });
        
        //FOR PREFERENCES STATISTICS
        db.collectionGroup('Selections').get().then(function (querySnapshot) {
            preferences_counts = querySnapshot.docs
            .flatMap(doc => doc.data().pref)
            .reduce(function(counts, choice) {
                if (choice in counts) {
                  counts[choice] += 1;
                } else {
                  counts[choice] = 1;
                }
                return counts;
            }, {});

            new Chart(document.getElementById('chartDonut'), {
              type: 'doughnut',
              data: {
                labels: Object.keys(preferences_counts),
                datasets: [{
                  data: Object.values(preferences_counts),
                  backgroundColor: ['#371c87','#452999','#51389d','#6745a9','#7c53b5','#9161c1','#a570cd','#b97fd9','#cc8fe6','#e09ff2','#f3afff','#f3c0fc','#f3cdfa','#fadeff','#f9e6fc']
                }]
              },
              options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: { display: false },
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              }
            });
        });

        //FOR HOBBIES STATISTICS
        db.collectionGroup('Selections').get().then(function (querySnapshot) {
            preferences_counts = querySnapshot.docs
            .flatMap(doc => doc.data().hobbies)
            .reduce(function(counts, choice) {
                if (choice in counts) {
                  counts[choice] += 1;
                } else {
                  counts[choice] = 1;
                }
                return counts;
            }, {});

            new Chart(document.getElementById('chartDonut1'), {
              type: 'doughnut',
              data: {
                labels: Object.keys(preferences_counts),
                datasets: [{
                  data: Object.values(preferences_counts),
                  backgroundColor: ['#371c87','#452999','#51389d','#6745a9','#7c53b5','#9161c1','#a570cd','#b97fd9','#cc8fe6','#e09ff2','#f3afff','#f3c0fc','#f3cdfa','#fadeff','#f9e6fc']
                }]
              },
              options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: { display: false },
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              }
            });
        });

        // FOR GENDER PARITY COMPARISON
        let j =0;
        let k =0;
        db.collectionGroup('User').get().then(function (querySnapshot) {
            querySnapshot.forEach(function (doc) {
              if(doc.data().gender == "Female")
                j++;
              else if (doc.data().gender == "Male")
                k++;
            });
            document.getElementById('female').innerHTML = j;
            document.getElementById('male').innerHTML = k;

            new Chart(document.getElementById('chartDonut3'), {
              type: 'doughnut',
              data: {
                labels: ['Male', 'Female'],
                datasets: [{
                  data: [k,j],
                  backgroundColor: ['#371c87','#6745a9']
                }]
              },
              options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: { display: false },
                animation: {
                  animateScale: true,
                  animateRotate: true
                }
              }
            });
        });
      </script>
    <!-- END FIREBASE SCRIPTS -->


    <script>
      $(function(){
        'use strict'
      });
    </script>
  </body>
</html>
